body{
    display: flex;
    background-color: black;
    justify-content: center;
    
}
.pdfLabel{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 3mm;
}
#save{
  position: absolute;
  left: 110%;
  z-index: 1;
  background-color: aqua;
  color: wheat;
  -webkit-text-fill-color: RED;
  box-shadow: 0px 3px 2px white;
  font-size: 30px;
  transition: all 0.1s linear;
}
#save:active{
  transform: scale(0.95) translateY(4px);
  box-shadow: 0px 0px 2px white;
}
#save::after{
  content: "";
  transition: all 400ms linear;
  height: 0%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  background-image: linear-gradient(#000b58,#003161,#006a67,#fff4b7);
}
#save:hover::after{
  height: 100%;

}
.pdfText{
    margin-left: 20px;
    border-bottom: 2px dotted black;
    width: 150mm;
    margin-top: 3mm;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.one{
    display: flex;
}
main{
    padding: 10px;
    height: 272mm;
    width: 190mm;
    line-height: 3.8mm;
    background-color: white;
    position: relative;
    padding-right: 20px;
    padding-bottom: 20px;
}
h1{
    text-align: center;
    text-decoration: 2px wavy underline;
}
#dealSheetHeading{
    width: fit-content;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    font-size: 25px;
    border-radius: 10px;
    background-color: #939196;
    font-weight: bolder;
}
#outerFlex{
    display: flex;
    margin-bottom: 15mm;
    justify-content: center;
}
#a4page{
border: 5px groove black;
width: 100%;
height: 100%;
}
#customerName{
  width: 131mm;
}
#sourceEnq{
  width: 60mm;  
}
#modelName{
    width: 141mm;
}
#mobile{
    width: 42mm;
}
#variantName{
    width: 75mm;  
  }
#color{
        width: 45mm;
  }
#exchange{
    width: 1mm;
  }
  #offer{
    margin-left: 20px;
  }
  #schemeDiscount{
    width: 11mm;
  }
  #exchange{
    width: 105mm;
  }
  #exchangeVehicle{
    width: 123mm;
  }
  #finance{
    width: 153mm;
  }
  #exShowRoom{
    width: 136mm;
  }
  #schemeDiscount{
    width: 126mm;
  }
  #registration{
    width: 137mm;
  }
  #insurance{
    width: 145mm;
  }
  #TCS{
    width: 166mm;
  }
  #accessories{
    width: 141mm;
  }
  #shield{
    width: 158mm;
  }
  #RSA{
    width: 165mm;
  }
  #SLD{
    width: 145mm;
  }

  #signature{
    display: flex;
    flex-direction: column;
  }
  #dashedLine{
    display: flex;
    justify-content: space-around;
  }
  #humanSignature{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  
  }
  
  @media (max-width:600px){
    main{
      transform: scalex(0.4);
      line-height: 5.5px;
      height: 550px; 
      }
    #save{
      transform: translatex(-150px);
      height: 32px;
      font-size: 25px;
    }
    #save:active{
      transform: translate(-150px,3px);
    }
    h1{
      font-size: 25px;
      position: relative;
      bottom: 6px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
    #dealSheetHeading{
      position: relative;
      bottom: 10px;
      font-size: 13px;
      padding: 2px;
    }
    #outerFlex{
      margin-bottom: -2mm;
    }
    #offer{
      position: relative;
      top:6px;
    }
#humanSignature{
  line-height: 15px; 
}
.pdfText{
  padding-bottom: 2.5px;
  font-size: 12px;
}
.pdfLabel{
  font-family: calibri;
}
  }
